# vim: ft=yaml
# yamllint disable rule:comments-indentation
---
wikiless:
  install:
      # Install rootless containers running as dedicated user.
    rootless: true
      # Add autoupdate label to containers, allowing to run
      # podman autoupdate (manually)
    autoupdate: true
      # Manage podman-auto-update.timer (auto-autoupdate)
      # (null=do not manage, false=disable, true=enable)
    autoupdate_service: false
      # When applying `clean` states, also remove application data.
      # Setting this to true might incur accidental data loss!
    remove_all_data_for_sure: false
  config:
      # Wikiless can automatically remove the cached media files from
      # the server. Cache control is on by default.
    cache_control: true
      # This sets the interval for often the cache directory is emptied (in hours).
    cache_control_interval: 24
    cert_dir: null
    default_lang: en
    domain: localhost
    http_addr: 0.0.0.0
    https_enabled: false
    nonssl_port: 7355
    redirect_http_to_https: false
    redis_password: null
    redis_url: redis://redis:6379
    ssl_port: null
    theme: null
    trust_proxy: false
    trust_proxy_address: 127.0.0.1
      # Wikimedia requires a HTTP User-agent header for all Wikimedia related
      # requests. It's a good idea to change this to something unique.
      # Read more: https://meta.wikimedia.org/wiki/User-Agent_policy
    wikimedia_useragent: Wikiless media proxy bot (https://codeberg.org/orenom/Wikiless)
      # Redis cache expiration values (in seconds).
      # When the cache expires, new content is fetched from Wikipedia (when the
      # given URL is revisited).
    wikipage_cache_expiration: 3600

  lookup:
    rootgroup: root
    compose:
      create_pod: null
      pod_args: null
      project_name: wikiless
      remove_orphans: true
      build: false
      build_args: null
      pull: false
      service:
        container_prefix: null
        ephemeral: true
        pod_prefix: null
        restart_policy: on-failure
        restart_sec: 2
        separator: null
        stop_timeout: null
    paths:
      base: /opt/containers/wikiless
      compose: docker-compose.yml
      config_wikiless: wikiless.env
      config_redis: redis.env
      build: Dockerfile
    user:
      groups: []
      home: null
      name: wikiless
      shell: /usr/sbin/nologin
      uid: null
      gid: null
    containers:
      app:
        image: docker.io/library/node:16-alpine
      redis:
        image: docker.io/library/redis:alpine
    repo: https://codeberg.org/orenom/Wikiless

  tofs:
      # The files_switch key serves as a selector for alternative
      # directories under the formula files directory. See TOFS pattern
      # doc for more info.
      # Note: Any value not evaluated by `config.get` will be used literally.
      # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family

      # All aspects of path/file resolution are customisable using the options below.
      # This is unnecessary in most cases; there are sensible defaults.
      # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
      # I.e.: salt://wikiless/files/default
      # path_prefix: template_alt
      # dirs:
      #   files: files_alt
      #   default: default_alt
      # The entries under `source_files` are prepended to the default source files
      # given for the state
    source_files:
      Wikiless compose file is managed:
        - docker-compose_alt.yml
        - docker-compose_alt.yml.j2
      wikiless environment file is managed:
        - wikiless_alt.env
        - wikiless_alt.env.j2
      redis environment file is managed:
        - redis_alt.env
        - redis_alt.env.j2
