{%- macro render(var, prefix=[]) %}
{%-   if var is mapping %}
{%-     for name, value in var | dictsort %}
{{- render(value, prefix + [name]) }}
{%-     endfor %}
{%-   elif var is iterable and (var is not string and var is not mapping) %}
{{ prefix | join("_") | upper }}={{ var | join(",") }}
{%-   elif var in [true, false] %}
{{ prefix | join("_") | upper }}={{ var | lower }}
{%-   elif var is not none %}
{%-     if "wikimedia_useragent" in prefix %}
{{ prefix | join("_") }}={{ var }}
{%-     else %}
{{ prefix | join("_") | upper }}={{ var }}
{%-     endif %}
{%-   endif %}
{%- endmacro -%}

{{- render(wikiless.config) }}
